<template>
  <section id="cars" class="section-spacer">
    <sui-grid container stackable doubled>
      <sui-grid-row style="margin-bottom: 0.8rem;">
        <sui-grid-column>
          <sectionHeader secName="Samochody"/>
        </sui-grid-column>
      </sui-grid-row>
      <sui-grid-row :columns="2" style="color: black">
        <CustomImage fileName="1.jpg" style/>

        <sui-grid-column>
          <div class="offert-container">
            <CustomDesc/>
          </div>
        </sui-grid-column>
      </sui-grid-row>
    </sui-grid>
  </section>
</template>

<script>
import sectionHeader from "./sectionHeader";
import CustomImage from "./CustomImage";
import CustomDesc from "./CustomDesc";

export default {
  components: {
    sectionHeader,
    CustomImage,
    CustomDesc
  },
  name: "cars",
  props: {
    msg: String
  },
  methods: {},
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#cars {
  position: relative;
  min-height: calc(100vh - 90px);
  background: url(../assets/cars.jpg) no-repeat;
  background-size: cover;
}
#cars::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}

.column {
  border-radius: 45px !important;
  text-align: left !important;
}
</style>
