<template>
  <sui-grid-column>
    <div class="img-container">
      <img src="../assets/logo.png" alt srcset>
    </div>
  </sui-grid-column>
</template>
<script>
export default {
  name: "CustomImage",
  data() {
    return {
      imgTag: [""]
    };
  },
  props: {
    fileName: String
  },
  computed: {},
  methods: {}
};
</script>
<style scoped lang="less">
.column {
  background-color: #e7e7e7;
  border-radius: 45px;
  overflow: hidden;
  height: 30rem;
  padding: 0 !important;
}
.img-container {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 141px -10px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 0px 141px -10px rgba(161, 161, 161, 1);
  box-shadow: 0px 0px 141px -10px rgba(161, 161, 161, 1);
}
img {
  border-radius: 45px;

  height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  display: none;
}
</style>

