<template>
  <div>
    <sui-grid class style="margin-top:0">
      <sui-grid-row style="padding-top:0">
        <sui-grid-column>
          <div class="desc">
            <div class="label-container">
              <sui-label class="background-color: #491b82!important;">
                <p class="ribbon-content">Oferta specjalna</p>
              </sui-label>
            </div>
            <sui-divider></sui-divider>
            <sui-header size="large" style>Pontiac Fire</sui-header>
            <sui-header size="small">2013</sui-header>

            <p class="text-desc">{{ info }}</p>
          </div>

          <div class="action-container">
            <sui-button color="red" class="red-back">Zamów</sui-button>
            <sui-button color="grey">Inne oferty</sui-button>
          </div>
        </sui-grid-column>
      </sui-grid-row>
    </sui-grid>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "CustomDesc",
  data() {
    return {
      info: null
    };
  },
  props: {},
  computed: {},
  created() {
    axios
      .get(
        "https://drive.google.com/file/d/15IFrLVXms_GlazALm5InYt2efBM0_LL8/view?usp=sharing"
      )
      .then(response => (this.info = response));
  }
};
</script>


<style scoped lang="less">
.ui.label {
  background-color: #491b82 !important;
}
.desc {
  border-radius: 45px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  width: 100%;

  .header .small {
    margin-top: 0.6rem;
    margin-bottom: 0.5em;
  }
  .text-desc {
    text-align: right;
    padding-top: 0.2rem;
    line-height: 1.72;
    padding-left: 3rem;
    margin-bottom: 2.2em;
    letter-spacing: 0.015rem;
  }

  padding-top: 1rem;

  .large {
    margin-top: 0.6em;
    margin-bottom: 0;
    position: relative;
  }
  .small {
    bottom: 0;
    font-size: 15px !important;
    font-weight: normal;
    color: #a0a0a0;
    margin-top: 0;
    margin-bottom: 1.5em;
  }

  p.ribbon-content {
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #f8f8f8;
    line-height: 1.7;
    letter-spacing: 0.07rem;
  }
}
.action-container {
  display: flex !important;
  flex-direction: row-reverse;
  margin-top: 2.2rem;

  button {
    margin: 0 !important;
  }
}
</style>