<template>
  <section id="services">
    <sui-container fluid>
      <sui-grid
        class="services-grid-container"
        :columns="3"
        divided
        :padded="false"
        stackable
        doubled
      >
        <sui-grid-row>
          <sui-grid-column>
            <h3 id="services-hook" class="header">Blacharstwo</h3>

            <p class="act">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos iste consectetur? Consequuntur nobis molestiae aperiam corrupti, inventore quibusdam dicta recusandae maiores optio quae voluptate quod quas? Dolores, sunt voluptas.
              Molestiae incidunt accusamus quo ratione officia ipsa recusandae error suscipit provident blanditiis beatae magni dolorem, laudantium, eaque sed ducimus cum vitae cumque eos in.
            </p>
          </sui-grid-column>
          <sui-grid-column>
            <h3 class="header">Lakiernictwo</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos iste consectetur? Consequuntur nobis molestiae aperiam corrupti, inventore quibusdam dicta recusandae maiores optio quae voluptate quod quas? Dolores, sunt voluptas.
              Molestiae incidunt accusamus quo ratione officia ipsa recusandae error suscipit provident blanditiis beatae magni dolorem, laudantium, eaque sed ducimus cum vitae cumque eos in.
            </p>
            <p>
              Voluptatibus cumque in architecto laudantium modi.
              Illum, quia vitae accusamus soluta culpa velit modi dignissimos reiciendis inventore adipisci deleniti magni, eligendi molestias quis saepe optio. Temporibus, reprehenderit dolore? Impedit animi vero natus id, excepturi vel atque!
              Assumenda modi ut mollitia cumque reiciendis, similique perspiciatis sit, voluptatum officia inventore repellendus tempora ad aliquam obcaecati quo.
            </p>
          </sui-grid-column>
          <sui-grid-column>
            <h3 class="header">Mechanika</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos iste consectetur? Consequuntur nobis molestiae aperiam corrupti, inventore quibusdam dicta recusandae maiores optio quae voluptate quod quas? Dolores, sunt voluptas.
              Molestiae incidunt accusamus quo ratione officia ipsa recusandae error suscipit provident blanditiis beatae magni dolorem, laudantium.
            </p>
          </sui-grid-column>
        </sui-grid-row>
      </sui-grid>
    </sui-container>
  </section>
</template>
<script>
export default {
  name: "FeaturesSection",
  data() {
    return {};
  },
  components: {}
};
</script>


<style lang="less">
// uslugi style start
#services {
  overflow-x: hidden;
  position: relative;
  background: url(../assets/services-smoke.jpg) no-repeat;
  background-size: cover;
  z-index: 1;

  overflow-y: hidden;
  min-height: calc(100vh - 90px);

  .column {
    padding-left: 3.5em;
    padding-right: 3.5em;
    h3 {
      text-align: center;
      color: #f6f656;
      font-style: italic;
      margin-bottom: 0.4rem;
    }
    p {
      padding-top: 2.7rem;
      margin-bottom: 0.45rem;
      color: #d8d8d8;
      line-height: 25px;
      letter-spacing: 0.035em;
    }
    .column:nth-child(odd) {
      padding-top: 3rem;
    }
    .large {
      margin-top: 0.7em !important;
      margin-bottom: 0 !important;
    }
  }
  .palm-img {
    position: absolute;
    bottom: 700px;
    right: 150px;
    z-index: 2;
  }
}
#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 0.84;
  background-image: linear-gradient(-1deg, #46168e 6%, #e70a2d 100%);
}
// uslugi style end
</style>