<template>

<section id="galeria" class="section-spacer">
    <sui-grid>
        <sui-grid-row :columns="1">
            <sui-grid-column :width="16">
                <sectionHeader  secName="Galeria" />
            </sui-grid-column>
        </sui-grid-row>
        <sui-grid-row :columns="3" >
            <carousel id="galeria-carousel" :per-page="1" :autoplay="false" :loop="true"  :mouse-drag="true">
            <slide>
              <img src="https://unsplash.it/g/1680/1050" alt style="">
            </slide>
            <slide>
           <img src="https://unsplash.it/g/1920/1080" alt style="">
            </slide>
            <slide>
           <img src="https://unsplash.it/g/1921/1080" alt style="">
            </slide>
          </carousel>
           
      
        </sui-grid-row>
    </sui-grid>
    </section>
</template>

<script>
import sectionHeader from './sectionHeader'
import { Carousel, Slide } from 'vue-carousel'
export default {
    
    name: 'Galeria',
    data(){
        return {
            items:[
            'gal1.jpg',
            'gal2.jpg',
            'gal3.jpg',
            ],
            imgTag: '<img src="../assets/"'
        }
    },
    methods: {

    },


components: {
    sectionHeader,
    Carousel,
    Slide
}
}
</script>
<style lang="less" scope>
#galeria {
    min-height: calc(100vh - 90px);
    .galeria-image-container {
        background: #e8e8e8;
        min-height: 20rem;
        height: 20rem;
    }
    .header {
        color:#e8e8e8;
        text-align: center;
    }
    }
</style>