<template >
  <section id="#kontakt" class="section-spacer">
    <sectionHeader secName="Formularz kontaktowy" style="color:#adadad"/>

    <sui-container>
      <sui-form size="medium" :inverted="inv">
        <sui-form-field>
          <label>Twoje imie:</label>
          <!-- <transition name="field-glow" type="animation"> -->
          <input placeholder="First Name" class="customInput">
          <!-- </transition> -->
        </sui-form-field>

        <sui-form-field>
          <label>E-mail</label>
          <input placeholder="E-mail" class="customInput">
        </sui-form-field>
        <sui-form-field>
          <label>Telefon</label>
          <input placeholder="Telefon" class="customInput">
        </sui-form-field>
        <sui-form-field>
          <label>Treść wiadomości</label>
          <textarea placeholder="Treść wiadomości" style="height:350px;" class="customInput"></textarea>
        </sui-form-field>
        <sui-form-field>
          <sui-checkbox label="Zgadzam się z regulaminem"/>
        </sui-form-field>
        <sui-button type="submit" color="red" :inverted="inv">Wyślij</sui-button>
      </sui-form>
    </sui-container>
  </section>
</template>
<script>
import sectionHeader from "./sectionHeader";
// import VueParticles from 'vue-particles'
export default {
  name: "Kontakt",
  data() {
    return {
      inv: true,
      show: true,
      glow: false
    };
  },

  components: {
    sectionHeader
    // VueParticles
  }
};
</script>
<style lang="less" scoped>
#kontakt {
  .header-container {
    h1.header {
      color: #adadad !important;
    }
  }
}
section {
  background-image: linear-gradient(
    to right,
    #070707,
    #141025,
    #1d143e,
    #2a1457,
    #3c0e6f
  );
}
form {
  input {
    width: 250px !important;
  }
  textarea {
    width: 50% !important;
    max-height: 100%;
  }
  input.customInput,
  textarea {
    background: #0a0a0a !important;
    border-color: #131313 !important;
    color: #adadad !important;
  }
}
.neon {
  animation-iteration-count: 20;
  animation: neon3 3s;
}
@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    opacity: 0.7;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    opacity: 0.3;
  }
}
.field-glow-enter {
  opacity: 1;
}
.field-glow-enter-active {
  animation: neon 3s;
}
.field-glow-leave {
  opacity: 1;
}
.field-glow-leave-active {
  animation: neon 1s;
  opacity: 0;
}
</style>
