<template>
  <div class></div>
</template>

<script>
export default {
    name:"Login",
    data() {
        return {
          state: {
  loggingIn: false,
  loginError: null,
  loginSuccessful: false
} 
        }
    }
}
</script>
<style lang="">
</style>
