<template>
  <div class="menuToggler">
    <Slideout menu="#menu" panel="#panel" :toggleSelectors="['.burger','.flexy']">
      <nav id="menu">
        <sui-menu vertical inverted>
          <sui-menu-item>
            <div style="width:100%;height:100%;">
              <a href="#services">Uslugi</a>
            </div>
          </sui-menu-item>
          <sui-menu-item>
            <div style="width:100%;height:100%;">
              <a href="#offerts">Cześci zamienne</a>
            </div>
          </sui-menu-item>
          <sui-menu-item>
            <div style="width:100%;height:100%;">
              <a href="#cars">Samochody</a>
            </div>
          </sui-menu-item>
          <sui-menu-item>
            <div style="width:100%;height:100%;">
              <a href="#galeria-carousel">Galeria</a>
            </div>
          </sui-menu-item>
          <sui-menu-item>
            <div style="width:100%;height:100%;">
              <a href="#services">Kontakt</a>
            </div>
          </sui-menu-item>
        </sui-menu>
      </nav>
      <main id="panel">
        <header>
          <div @click="flip = !flip" class="burger burger-squeeze" :class="{'open' : flip}">
            <div class="burger-lines"></div>
          </div>
        </header>
      </main>
    </Slideout>
    <!-- <div class="mobile-nav" :class="{'colapsed': !flip}">dsfdsfdsfdsf</div> -->
  </div>
</template>

<script>
import Slideout from "vue-slideout";
export default {
  name: "MenuToggler",
  components: {
    Slideout
  },
  data() {
    return {
      flip: false
      // burgerTypes: [1='',2='']
    };
  },
  computed: {
    //     setBurger(){
    //         if(this.burger == '1'){
    //             return ''
    //         }
    //         else {
    //             return ''
    //         }
    //     }
  },
  mounted() {},

  methods: {},
  props: {
    // hamburger: String,
  }
};
</script>

<style scoped>
.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  z-index: 10000;
}
.burger:after {
  content: "";
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
}
.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}
.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: "";
  width: 100%;
  border-radius: 0.25em;
  background-color: #fefefe;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.burger .burger-lines .burger-lines:after {
  left: 0;
  top: -1em;
}
.burger .burger-lines .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger.burger-squeeze .burger-lines,
.burger.burger-squeeze .burger-lines:after,
.burger.burger-squeeze .burger-lines:before {
  -webkit-transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
    0.4s background-color 0.2s;
  -o-transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
    0.4s background-color 0.2s;
  transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
    0.4s background-color 0.2s;
}

.burger.burger-squeeze .burger-lines:after,
.burger.burger-squeeze .burger-lines:before {
  width: 2em;
}

.burger.burger-squeeze .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger.burger-squeeze .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger.burger-squeeze.open .burger-lines,
.burger.burger-squeeze.open .burger-lines:after,
.burger.burger-squeeze.open .burger-lines:before {
  -webkit-transition: 0.2s background-color, 0.2s top, 0.2s left,
    0.2s transform 0.15s;
  -o-transition: 0.2s background-color, 0.2s top, 0.2s left,
    0.2s transform 0.15s;
  transition: 0.2s background-color, 0.2s top, 0.2s left, 0.2s transform 0.15s;
}

.burger.burger-squeeze.open .burger-lines {
  background-color: transparent;
}

.burger.burger-squeeze.open .burger-lines:before,
.burger.burger-squeeze.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
}

.burger.burger-squeeze.open .burger-lines:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.burger-squeeze.open .burger-lines:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menuToggler {
  position: fixed;
  top: 2rem;
  left: 3rem;
  z-index: 500000;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  height: 100vh;

  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: #1d1f20;
  color: white;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  color: white;
  position: relative;
  z-index: 1;
  will-change: transform;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
</style>
