<template>
  <div class="top-bar">
    <sui-grid :columns="3" style="margin-top: 0;height: 100%;" fluid>
      <sui-grid-row style="margin:0;padding:0">
        <sui-grid-column :width="4">
          <div class="logo">
            <a href="#">
              <img src="../assets/logo.png" alt srcset>
            </a>
          </div>
        </sui-grid-column>
        <sui-grid-column :width="9" stretched style="    justify-content: space-between;">
          <sui-menu :widths="5">
            <sui-menu-item>
              <div class="hvr-underline-reveal flexy services" style="width:100%;height:100%;">
                <a href="#services">Uslugi</a>
              </div>
            </sui-menu-item>
            <sui-menu-item>
              <div class="hvr-underline-reveal flexy parts" style="width:100%;height:100%;">
                <a href="#offerts">Cześci zamienne</a>
              </div>
            </sui-menu-item>
            <sui-menu-item>
              <div class="hvr-underline-reveal flexy cars" style="width:100%;height:100%;">
                <a href="#cars">Samochody</a>
              </div>
            </sui-menu-item>
            <sui-menu-item>
              <div class="hvr-underline-reveal flexy gallery" style="width:100%;height:100%;">
                <a href="#galeria-carousel">Galeria</a>
              </div>
            </sui-menu-item>
            <sui-menu-item>
              <div class="hvr-underline-reveal flexy contact" style="width:100%;height:100%;">
                <a href="#services">Kontakt</a>
              </div>
            </sui-menu-item>
          </sui-menu>
        </sui-grid-column>

        <sui-grid-column :width="3">
          <transition name="shake">
            <div class="phone-top">
              <sui-icon v-if="trig" slot="trigger" name="phone" color="red" size="large"/>

              <h4>
                <a is="sui-label">+85 675 13 78</a>
              </h4>
            </div>
          </transition>
        </sui-grid-column>
      </sui-grid-row>
    </sui-grid>
  </div>
</template>
<script>
export default {
  name: "NavBar",
  data() {
    return {
      showMenu: this.animate,
      show: true,
      trig: false
    };
  },
  props: {
    animate: Boolean
  },
  directives: {},

    /* ... etc ... */
  
};
</script>
<style scoped lang="less">
//Settings

//Classes
.item {
  color: #868686 !important;
  text-transform: uppercase !important;

  font-size: 15px !important;
  letter-spacing: 0.04rem;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: #101010;
  height: 90px;

  z-index: 200;
  .row {
    .flexy {
      width: 100%;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .menu {
      background: none !important;
      .item {
        padding: 0 !important;
        color: #e8e8e8;
        font-weight: bold;
      }
    }

    .phone-top {
      display: inline-flex;
      color: #f2f2f2;
      font-size: 16px;
      min-height: 100%;
      align-items: center;
      .phone {
        padding-right: 1.7rem;
      }
      i {
        height: 100%;
      }
      h4 {
        margin: 0;
        a {
          background: none;
          color: #e8e8e8;
          margin: 0;
          padding: 0;
        }
      }
    }
    .logo {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
}
</style>
