<template>
  <sui-grid-column style>
    <div  class="img-container" >
      <!-- <img src="../assets/1.jpg" alt srcset> -->sdsds
    </div>
  </sui-grid-column>
</template>
<script>
export default {
  name: "OfertyImg",
  data() {
    return {
      imgTag: [""]
    };
  },
  props: {
    fileName: String
  },
  computed: {},
  methods: {
   
  }
};
</script>
<style scoped lang="less">
.column {
  background-color: #e7e7e7;
  border-radius: 2rem;
  overflow: hidden;
  height: 30rem;
  padding: 0 !important;
}
.img-container {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  // background-image: url("../assets/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height:100%;
    border:2rem solid #ffffff;
    border-radius: 3rem;
}
// img {
//   border-radius: 45px;

//   height: 100%;
//   max-width: 100%;
//   width: auto;
//   height: auto;
// //   display: none;
// }
</style>
