<template>
  <section id="offerts" class="section-spacer">
    <sui-grid container doubled stackable>
      <sui-grid-row :columns="1">
        <sui-grid-column class="productInfo">
          <sectionHeader secName="Części zamienne"/>
        </sui-grid-column>
      </sui-grid-row>
      <sui-grid-row :columns="2" style="color: black" class="productInfo">
        <OfertyImg fileName="1.jpg"/>

        <sui-grid-column>
          <div class="offert-container">
            <CustomDesc></CustomDesc>
          </div>
        </sui-grid-column>
      </sui-grid-row>
    </sui-grid>
  </section>
</template>

<script>
import sectionHeader from "./sectionHeader";
import OfertyImg from "./OfertyImg";
import CustomDesc from "./CustomDesc";

export default {
  components: {
    sectionHeader,
    //  CustomImage,
    CustomDesc,
    OfertyImg
  },
  name: "Oferty",
  props: {
    msg: String
  },
  methods: {},
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#offerts {
  position: relative;
  min-height: calc(100vh - 90px);
  background: url(../assets/oferty-back.jpg) no-repeat;
  background-size: cover;
}
#offerts::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.7;
}

.productInfo:last-child {
  display: none;
}
</style>
