
<template>
  <div class="pad" @click="playSample()"></div>
    
</template>

<script>

import {Howl, Howler} from 'howler'

var data = {
  
      mp3Sound : new Howl({
        src: ['../assets/1.wav'],
        autoplay: false
        
        
      })
    
}

export default {
  name: 'Pad',
  props: {
    msg: String
  },
  methods: {
    playSample(){
      this.mp3Sound.play();
      Howler.volume(0.5);
    }
  },
  data: function(){
    return data;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
    .pad {
      width: 100px;
      height: 100px;
      background-color: lightgray;
      margin: 0 auto;
    }
</style>
