<template>
  <section class="section-spacer">
    <sui-container>
      <vue-good-table :columns="columns" :rows="test" theme="nocturnal" :search-options="{
        enabled:true,
        placeholder: 'Wyszukaj',
      }">
        <div slot="emptystate">This will show up when there are no rows</div>
        <div slot="table-actions">
    <sui-button @click="updateTest" size="tiny" color="blue">Dodaj produkt</sui-button>
      <sui-button @click="sendData" size="tiny" color="red">Wyslij</sui-button>
      <sui-button @click="resetData" size="tiny" color="grey">Wyslij</sui-button>
  </div>
      </vue-good-table>
      <div>{{alert}}</div>

      <!-- <sui-form>
        <json-editor ref="JsonEditor" :schema="schema">
          <sui-button @click="submit">Submit</sui-button>
          <sui-button @click="reset">Reset</sui-button>
        </json-editor>
      </sui-form>-->
      <sui-form>
      <label >Nazwa</label>
      
      <input type="text" v-model="nazwa">
      <label>Marka</label>
      
      <input type="text" v-model="marka">
      <label>Rok</label>
      
      <input type="text" v-model="rok">
      <label>model</label>
      
      <textarea type="text" v-model="model" />>
      </sui-form>
    </sui-container>
    {{alert}}
  </section>
</template>

<script>

const SCHEMA = {
  $schema: "http://json-schema.org/draft-06/schema#",
  type: "object",
  title: "Edytuj",
  
  properties: {
    name: {
      type: "string",
      title: "name"
    },
    marka: {
      type: "string",
      title: "marka"
    },
    description: {
      type: "string",
      title: "model"
    },
    year: {
      type: "string",
      title: "year"
    }
  }
};
import json from "../../jsson/parts.json";
// import JsonEditor from "vue-json-ui-editor";
import axios from "axios";


export default {
  
  name: "PartList",

  data() {
    return {
      test: {},
      myJson: json,
      
      columns: [
        {
          label: "Nazwa",
          field: "name"
        },
        {
          label: "Marka",
          field: "marka"
        },
        {
          label: "Rok",
          field: "year"
        },
        {
          label: "model",
          field: "model"
        }
      ],
      
      open: false,
      schema: SCHEMA,
      nazwa: '',
      marka: '',
      rok:'',
      model:'',
      alert: null
    };
  },

  methods: {
    updateTest (){
       return this.test.push({"name": this.nazwa, "year": this.rok,"marka":this.marka, "model":this.model})
    },
    resetData(){
      this.test = []
    },
    sendData(){
      
        axios.defaults.headers.post['Content-Type'] = 'application/json';
      var url = 'https://api.jsonbin.io/b/5c5ed054e9e7c118390fad9d'
     axios({ 
  method: 'put',
  url: url,
  "data": 
   this.test
  
}
 
)
      }
      
      

    
    
  },
  mounted() {
  
    
    axios
      .get("https://api.jsonbin.io/b/5c5ed054e9e7c118390fad9d/latest")
      .then(response => {
        this.test = response.data
      });
  },
  computed: {
    
  }
};
</script>
<style lang="less" scoped>
section {
  min-height: calc(100vh - 90px);
  background-color: #e8e8e8;
}
</style>
