<template>
  <div class="header-container">
    
  
        <h1 class="header">{{ secName }}</h1>
    

  </div>
</template>

<script>
export default {
  name: "sectionHeader",
  props: {
    secName: String
  },
  methods: {},
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header-container {
  position: relative;
  z-index: 1;
}
h1 {
  text-align: center;
  position: relative;
  margin-bottom:2.43rem!important;
}
/* h1::after {
  content: ".     ";
  position: relative;
  right: auto;
  top: -1rem;
  right: auto;
  z-index: 1000;
  font-size: 0.85em;
}
h1::before {
  content: ".     ";
  position: relative;
  left: auto;
  top: -1rem;
  right: auto;
  z-index: 1000;
  font-size: 0.85em;
} */
</style>
