<template>
  <div class="hero-container">
      <swiper>
        <swiper-slide>
          <img src="../assets/1.jpg" alt >
        </swiper-slide>
      </swiper>
  </div>
</template>

<script>

export default {
  name: "TopSlider",
  data() {
    return {
      
      components: {
        
      }
    };
  }
};
</script>
<style scoped lang="less">
.hero-container {
  height: calc(100vh - 90px);
  overflow: hidden;
  z-index: -1;
 

  //   .slide-back {

  //   width: 100%;
  //   height: 100%;
  //       .left-panel-top {
  //         height: 100%;
  //         /* Rectangle: */
  //         display: flex;
  //         flex-direction: column;
  //         flex-wrap: nowrap;
  //         justify-content: center;
  //         background-image: linear-gradient(
  //           0deg,
  //           rgba(255, 255, 255, 0) 16%,
  //           #000000 37%
  //         );
  //         .left-panel-content {
  //           height: 50%;

  //           display: flex;
  //           flex-direction: column;
  //           justify-content: center;
  //           ul {
  //             .list-adres {
  //               color: #f6f656;
  //               padding-bottom: 10px;
  //               list-style: none;

  //               h4 {
  //                 font-size: 1.15em;
  //                 letter-spacing: 0.055rem;
  //                 font-family: "Nunito Sans", "Helvetica Neue", Arial, Helvetica,
  //                   sans-serif;
  //               }
  //             }
  //             .service-list-el {
  //               margin-bottom: 0.15rem;
  //             }
  //           }
  //         }
  //       }

  //     }
}
</style>
