<template>
  <div id="app">
    <!-- mobile nav -->
    <main id="page-wrap">
      <!-- header start -->
      <sui-container fluid class="header-top" style>
        <hide-at :breakpoints="{breakpoints}" breakpoint="mediumAndBelow">
          <NavBar style="z-index:9999"></NavBar>
        </hide-at>
        <!-- </hide-at> -->
        <div class="hero-container">
          <carousel
            :per-page="1"
            :autoplay="false"
            :loop="true"
            :mouse-drag="true"
            :speed="1000"
            :navigationEnabled="true"
            :paginationEnabled="false"
          >
            <slide data-index="0" data-name="MySlideName">
              <img src="./assets/1.jpg">

              <div class="left-panel" style="z-index:9998">
                <h4>Bialystok, Saturna 69</h4>
                <transition-group name="panel" tag="div">
                  <h3 class="panel" v-for="words in topHeaderWords" :key="words">{{ words }}</h3>
                </transition-group>
              </div>
              <div class="logo">
                <a href="#">
                  <img src="./assets/logo.png" alt srcset>
                </a>
              </div>
            </slide>

            <slide>
              <img src="./assets/2.jpg" alt class="fit-img">
            </slide>
          </carousel>
        </div>
      </sui-container>

      <!-- header end -->
      <!-- uslugi start -->
      <FeaturesSection class="section-spacer"/>

      <offerty/>
      <cars/>
      <Galeria/>
      <Kontakt/>

      <show-at :breakpoints="{breakpoints}" breakpoint="mediumAndBelow">
        <MenuToggler hamburger="1"></MenuToggler>
      </show-at>
      <!-- uslugi end -->
    </main>
  </div>
</template>

<script>
// import "vue2-animate/src/less/vue2-animate.less";
// import { VShowAt } from 'vue-breakpoint-component'

import offerty from "./components/offerty";
import cars from "./components/cars";
import Galeria from "./components/Galeria";
import Kontakt from "./components/kontakt";
import FeaturesSection from "./components/FeaturesSection.vue";
// import FixedHeader from 'vue-fixed-header'
import VueSticky from "vue-sticky";
import MenuToggler from "./components/MenuToggler";
import NavBar from "./components/NavBar";
import { Carousel, Slide } from "vue-carousel";
import { showAt, hideAt } from "vue-breakpoints";
// import PartsList from "./components/PartList";
// import Login from "./components/Login";
export default {
  name: "app",

  components: {
    offerty,
    cars,
    NavBar,
    FeaturesSection,
    MenuToggler,
    Kontakt,
    Carousel,
    Galeria,
    Slide,
    showAt,
    hideAt

    // PartsList,
    // Login

    // VueRhythm
  },
  data() {
    return {
      show: true,
      // el: "#app",
      showMenu: true,
      num: 0,
      slideMe: true,
      breakpoints: { small: 320, medium: 680, large: 1280 },
      topHeaderWords: [
        "Blacharstwo",
        "Lakiernictwo",
        "Mechanika",
        "samochodowa"
      ]
    };
  },
  directives: { sticky: VueSticky },
  methods: {}
};
</script>

<style lang="less" >
// klasy pomocnicze start
section {
}
// klasy pomocnicze end
.section-spacer {
  padding-top: 4.6rem;
  padding-bottom: 4.7rem;
}
// header style start

.header-top {
  max-height: calc(100vh - 90px);

  position: relative;
}
.first-slide {
  background: url(/assets/img/1.jpg);
}
// header style end

// uslugi style start

.hero-container {
  .logo {
    position: absolute;
    top: 2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  max-height: calc(100vh - 90px);

  z-index: 1;
  max-width: 100%;
  .left-panel {
    position: absolute;
    background: rgba(0, 0, 0, 1);
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    top: 0;
    left: 5rem;
    display: flex;

    width: 25rem;
    height: 100%;
    opacity: 0.8;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    font-style: italic;
    h4 {
      color: #f6f656;
      font-family: "Nunito Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-weight: lighter;
      z-index: 2000;
    }
    h3 {
      color: #e8e8e8;
      margin: 0;
      padding-bottom: 0.13em;
      z-index: 10;
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.fit-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// uslugi style end

// oferty style start
.fadeMe-enter {
  transform: translateY(1);
  transform-origin: top;
  opacity: 1;
}
.fadeMe-enter-active {
  transition: all 2s;
}
.fadeMe-leave {
  transform: translateY(2);
  transform-origin: bottom;
}
.fadeMe-leave-active {
  transition: transform 2s;
  transform-origin: top;
}
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d4173b;

  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slide-enter {
  transform: translateY(-120px);
  opacity: 0;

  top: 0;
  left: 0;
}

.slide-enter-active {
  transition: all 1s;
}

.slide-leave-active {
  transition: all 0.2s ease-in;
}
.slide-leave-to {
  opacity: 0.5;
  transform: translateY(-200px);
}
.shake-enter {
  opacity: 1;
}

.shake-enter-active {
  transition: all 5s;
}
.shake-leave {
  opacity: 1;
}
.shake-leave-active {
  transition: all 0.2s ease-in;
}
.shake-leave-to {
  opacity: 0;
  transform: translateY(-200px);
}

.panel {
  transition: all 0.5s;
}
.panel-enter, .panel-leave-to
/* .panel-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: scale(0);
}
.panel-enter-to {
  opacity: 1;
  transform: scale(1);
}

.panel-leave-active {
  /*position: absolute;*/
}

.panel-move {
  opacity: 1;
  transition: all 0.5s;
}
</style>


